[submodule "UVU-GD-Portfolio/UnityProject_SecondSemester/Assets/ArtisanDream.Tools"]
	path = UVU-GD-Portfolio/UnityProject_SecondSemester/Assets/ArtisanDream.Tools
	url = https://github.com/anthonyromrell/ArtisanDream.Tools
